
# Ignore all log files
*.log

# Ignore all saved models
*.h5f
*.pth.tar
TensorforcePPOAgent/*
saved/*

# Ignore config file
utils/config.py

# Ignore pycache files
*__pycache__/*
*.pyc

# Ignore IPython notebooks for now
*ipynb*
